:root {
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --primary-text-color-theme-dark: #212121;
  --secondary-text-color-theme-dark: #757575;
  --primary-text-color-theme-light: #ffffff;
  --secondary-text-color-theme-light: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--primary-font-family);
  font-style: normal;
  color: var(--primary-text-color-theme-dark);
}

.accent {
  color: var(--accent-color);
}
/* ========components======= */
.logo {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo-theme-dark {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-dark);
}
.logo-theme-light {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-light);
}

* {
  box-sizing: border-box;
}
p,
h2,
h3 {
  margin: 0;
}
.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  display: block;
  padding-top: 94px;
  padding-bottom: 94px;
}
.img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ========/components======= */

/* ========header======= */

.page-header {
  border-bottom: 1px solid #ececec;
}
.page-nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  margin-left: 93px;
}

.menu-link {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  padding-top: 32px;
  padding-bottom: 32px;
}

.menu-item {
  margin-left: 50px;
}
.menu-item:first-child {
  margin-left: 0;
}

.menu .menu-item:last-child {
  margin-right: 0;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.contact-nav {
  display: flex;
  margin-left: auto;
}

.contact-nav .menu-item + .menu-item {
  margin-left: 50px;
}

.contact-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.contact-mail:hover,
.contact-mail:focus,
.current {
  color: var(--accent-color);
}
.contact-number-phone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.contact-number-phone:hover,
.contact-number-phone:focus {
  color: var(--accent-color);
}

/* ========/header======= */

/* ========hero======= */

.hero {
  background-color: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
/*
.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient (to bottom, rgba(47, 48, 58, 0.4)),
    url(../images/background/hero-img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
 
}  */
.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-light);
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
  max-width: 694px;
}

.modal-btn {
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: inline-block;
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--primary-text-color-theme-light);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
}
/* ========/hero======= */
/* ========services======= */
.services-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.services-list {
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
}
.item {
  margin-right: 30px;
}

.item:last-child {
  margin-right: 0;
}

.item:nth-last-child(-n + 4) {
  margin-bottom: 0;
}

.what-we-do-section {
  padding-bottom: 94px;
}
.services-container {
  display: flex;
  justify-content: center;
  max-width: 1170px;
}
.services-element {
  width: 370px;
  margin-right: 30px;
}
.services-element:last-child {
  margin-right: 0;
}
.services-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 10px;
  width: 270px;
}
.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-dark);
  width: 270px;
}

/* ========/services======= */
/* ========about======= */

.about-section {
  padding-bottom: 94px;
  padding-top: 94px;
}
.about-container {
  display: flex;
  justify-content: center;
  max-width: 1170px;
}

.title-description {
  margin-bottom: 50px;
}
.about-element {
  width: 270px;
  margin-right: 30px;
  margin-bottom: 94px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.about-element:last-child {
  margin-right: 0;
}
.about-element:nth-last-child(-n + 4) {
  margin-bottom: 0;
}

.about-card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.title-description {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.subtitle-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.description-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color-theme-dark);
}
/* ========about/======= */

/* ========footer ======= */

.footer {
  background-color: #2f303a;
  height: 252px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-contact {
  margin-bottom: 9px;
}

.contact-map {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-text-color-theme-light);
}
.contact-addres {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-light);
}

.contact-addres:hover,
.contact-addres:focus {
  color: var(--accent-color);
}

/* ========footer/======= */

/* ========filter for portfolio======= */
.filter-container {
  display: flex;
  justify-content: center;
  max-width: 1170px;
  margin-bottom: 50px;
}
.filter-element {
  margin-right: 8px;
}

.btn-name {
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  min-width: 73px;
  padding: 6px 22px;
  color: var(--primary-text-color-theme-dark);
}
.btn-name:hover,
.btn-name:focus {
  color: var(--primary-text-color-theme-light);
  background-color: var(--accent-color);
}
.btn-name.current {
  color: var(--primary-text-color-theme-light);
  background-color: var(--accent-color);
}
/* ========filter for portfolio/======= */

/* ========portfolio======= */

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-element {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolio-element:nth-child(3n) {
  margin-right: 0;
}

.portfolio-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.border-card {
  border: 1px solid #eeeeee;
  padding: 20px 24px 20px 24px;
}
.subtitle-portfolio {
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--primary-text-color-theme-dark);
}
.description-portfolio {
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-dark);
}

/* ========porffolio======= */
